# ref, https://stackoverflow.com/questions/71791532/github-actions-homebrew-install-terraform-version-lags-behind
name: brew-debug

on:
  pull_request:
    branches:
      - main

env:
  # `test` and `audit` are test dev commands
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
  HOMEBREW_NO_ANALYTICS: 1
  # https://github.com/Homebrew/homebrew-core/blob/2b267008a1315bae4bceb2efb4a9e503e2d00b62/.github/workflows/tests.yml#L16-L17
  HOMEBREW_NO_BUILD_ERROR_ISSUES: 1
  HOMEBREW_ARM64_TESTING: 1
  # save some time
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  # no need to upgrade dependants
  HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
  # https://github.com/Homebrew/homebrew-test-bot/pull/868
  HOMEBREW_NO_INSTALL_FROM_API: 1

permissions:
  contents: read

jobs:
  validate-setup-homebrew-arm:
    name: validate setup-homebrew on ubuntu-22.04-arm
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4

      - name: Restore homebrew/core tap cache
        id: core-cache
        uses: actions/cache@v4
        with:
          path: /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/homebrew/homebrew-core
          key: ${{ runner.os }}-${{ runner.arch }}-homebrew-core-${{ github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-homebrew-core-

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@04a6d8cfe9d251e2afb78c5bdc6274ec9642aea2
        with:
          core: true

      - name: Validate source-build flow
        run: |
          set -euxo pipefail
          brew --version
          brew tap | grep '^homebrew/core$'
          test -d "$(brew --repository homebrew/core)/.git"
          HOMEBREW_NO_INSTALL_FROM_API=1 brew update
          HOMEBREW_NO_INSTALL_FROM_API=1 brew install -s hello
          brew list --versions hello
          hello --version
          brew linkage --cached hello

      - name: Report cache state
        run: echo "homebrew-core cache-hit=${{ steps.core-cache.outputs.cache-hit }}"
