# ref, https://stackoverflow.com/questions/71791532/github-actions-homebrew-install-terraform-version-lags-behind
# ref, https://github.com/actions/runner-images/issues/13545
# ref, https://github.com/actions/runner-images/pull/13549
name: brew-debug

on:
  pull_request:
    branches:
      - main

env:
  # `test` and `audit` are test dev commands
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
  HOMEBREW_NO_ANALYTICS: 1
  # https://github.com/Homebrew/homebrew-core/blob/2b267008a1315bae4bceb2efb4a9e503e2d00b62/.github/workflows/tests.yml#L16-L17
  HOMEBREW_NO_BUILD_ERROR_ISSUES: 1
  HOMEBREW_ARM64_TESTING: 1
  # save some time
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  # no need to upgrade dependants
  HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
  # https://github.com/Homebrew/homebrew-test-bot/pull/868
  HOMEBREW_NO_INSTALL_FROM_API: 1

permissions:
  contents: read

# three jobs in this workflow:
# 1. debug formula on macos (runs on PR only)
# 2. debug formula on ubuntu (runs on PR only)
jobs:
  dummy-job:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "dummy job"

  # # debug formula run on macos-14-arm
  # formula-debug-macos-14-arm:
  #   runs-on: macos-14 # macos-14 is arm runner
  #   if: github.event_name == 'pull_request'
  #   defaults:
  #     run:
  #       # simplify the debugging flow
  #       # https://docs.brew.sh/FAQ#why-should-i-install-homebrew-in-the-default-location
  #       working-directory: /opt/homebrew/Library/Taps/homebrew/homebrew-core
  #   steps:
  #     - run: brew update
  #     - name: Setup tmate session
  #       uses: mxschmitt/action-tmate@v3

  # # debug formula run on macos-15-intel
  # formula-debug-macos-15-intel:
  #   runs-on: macos-15-intel
  #   if: github.event_name == 'pull_request'
  #   defaults:
  #     run:
  #       # simplify the debugging flow
  #       # https://docs.brew.sh/FAQ#why-should-i-install-homebrew-in-the-default-location
  #       working-directory: /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core
  #   steps:
  #     - run: brew update
  #     - name: Setup tmate session
  #       uses: mxschmitt/action-tmate@v3

  # debug formula on ubuntu-22.04-intel
  formula-debug-ubuntu-22-04-intel:
    runs-on: ubuntu-22.04
    if: github.event_name == 'pull_request'
    defaults:
      run:
        # simplify the debugging flow
        # https://docs.brew.sh/FAQ#why-should-i-install-homebrew-in-the-default-location
        working-directory: /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/homebrew/homebrew-core
    steps:
      # As brew got removed from the ubuntu images, we need to install it
      # https://github.com/actions/runner-images/issues/6283
      - name: Set up Homebrew
        id: set-up-homebrew
        # https://github.com/Homebrew/actions/tree/master/setup-homebrew
        uses: Homebrew/actions/setup-homebrew@bc738ca370c95ed8d8b44c9b5fcba16e54f5218a

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3

  # # debug formula on ubuntu-22.04-arm
  # formula-debug-ubuntu-22.04-arm:
  #   runs-on: ubuntu-22.04-arm
  #   if: github.event_name == 'pull_request'
  #   defaults:
  #     run:
  #       # simplify the debugging flow
  #       # https://docs.brew.sh/FAQ#why-should-i-install-homebrew-in-the-default-location
  #       working-directory: /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/homebrew/homebrew-core
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup Homebrew
  #       run: |
  #         .github/workflows/scripts/install_homebrew.sh

  #     - name: Setup tmate session
  #       uses: mxschmitt/action-tmate@v3
