name: chenrui.dev site check

on:
  workflow_dispatch:
  schedule:
    - cron:  '*/1 * * * *'

jobs:
  site-check:
    runs-on: ubuntu-latest
    steps:
      - name: test site
        run: wget https://chenrui.dev
        continue-on-error: true

      - name: test site
        run: wget https://chenrui.dev
        continue-on-error: true

      - name: test site
        run: wget https://chenrui.dev
        continue-on-error: true
