# ref, https://github.com/marketplace/actions/image-actions
name: compress-images

on:
  pull_request:
    paths:
      - '**.jpg'
      - '**.jpeg'
      - '**.png'
      - '**.webp'

permissions:
  contents: read

jobs:
  build:
    name: calibreapp/image-actions
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Compress Images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          ignorePaths: 'node_modules/**,**/*_optimized.jpg,**/*_optimized.jpeg,**/*_optimized.png,**/*_optimized.webp'
          jpegQuality: '80'
          jpegProgressive: false
          pngQuality: '100'
          webpQuality: '80'
