name: display-github-context

on:
  pull_request:
    paths:
      - '.github/workflows/display-github-context.yml'

jobs:
  all_jobs:
    strategy:
      fail-fast: false
      matrix:
        os:
          # Linux & macOS
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-15-intel # intel
          - macos-14 # arm
          - macos-15 # arm
          - macos-26 # arm
          # custom large runners, e.g.:
          # - macos-14-large (intel)
          # - macos-14-xlarge (arm)

          # Windows
          - windows-2022
          - windows-2025

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      pull-requests: write # for actions/github-script

    steps:
      - name: Show runner info (Linux/macOS)
        if: startsWith(matrix.os, 'ubuntu-') || startsWith(matrix.os, 'macos-')
        shell: bash
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo "RUNNER_OS: $RUNNER_OS"
          echo "RUNNER_ARCH: $RUNNER_ARCH"
          printf 'GITHUB_CONTEXT: %s\n' "$GITHUB_CONTEXT"

      - name: Show runner info (Windows)
        if: startsWith(matrix.os, 'windows-')
        shell: pwsh
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo "RUNNER_OS: $env:RUNNER_OS"
          echo "RUNNER_ARCH: $env:RUNNER_ARCH"
          echo "GITHUB_CONTEXT: $env:GITHUB_CONTEXT"

      - name: Post runner info as PR comment
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            if (!context.payload.pull_request) {
              console.log('Not a PR, skipping comment creation.');
              return;
            }

            const body = [
              `**Runner OS**: ${process.env.RUNNER_OS}`,
              `**Runner Arch**: ${process.env.RUNNER_ARCH}`,
              '',
              '<details>',
              '<summary>See full GitHub context</summary>',
              '',
              '```json',
              JSON.stringify(context, null, 2),
              '```',
              '</details>',
            ].join('\n');

            await github.rest.issues.createComment({
              issue_number: context.payload.pull_request.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body
            });
