name: lang-go

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/lang-go.yml'

permissions:
  contents: read

jobs:
  show-go-version:
    name: Show Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - '1.22'
          - '1.23'
          - '1.24.0-rc.1' # see discussions in https://github.com/actions/setup-go/issues/524

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: ${{ matrix.go }}

      - name: Display Go Version
        run: go version
