# Test workflow to inspect and display the Java versions installed on GitHub-hosted runners.

name: lang-java

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/lang-java.yml'

permissions:
  contents: read

jobs:
  show-java-version:
    name: Show JDK ${{ matrix.java }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21, 23, 24]
        os: [ubuntu-latest, macos-13, macos-latest]

    steps:
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'

      - name: Display Java Version
        shell: bash
        run: |
          if [[ "${{ matrix.java }}" == "8" ]]; then
            java -version
          else
            java --version
          fi
