name: docker

on:
  release:
    types:
      - "published"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      # Publish release to container registry
      - name: populate release version
        if: ${{ github.event_name == 'release'}}
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: build docker-test:$RELEASE_VERSION release image
        if: ${{ github.event_name == 'release'}}
        run: |
          docker build -t chenrui333/docker-test:$RELEASE_VERSION .
