name: repository-dispatch

on:
  repository_dispatch:
    types: ["trigger-event"]

# how to test this workflow
# GITHUB_TOKEN=xxx ./scripts/repository-dispatch-trigger.sh

# run log result
# https://github.com/chenrui333/github-action-test/actions/runs/161112535

env:
  ID: ${{ github.event.client_payload.id }}

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - name: show context
        run: |
          echo "github sha is ${{ github.sha }}"
          echo "github.event is ${{ toJson(github.event) }}"
          echo "github.event_name is ${{ github.event_name }}"
      - name: run build
        if: github.event_name == 'repository_dispatch'
        run: |
          echo "id is $ID"
          echo "integration is ${{ github.event.client_payload.integration }}"
  show-id:
    runs-on: ubuntu-24.04
    needs: [build]
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - name: show id
        run: |
          echo "id is $ID"
