name: steps-condition-test

on: push

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Check diff
        id: verify_diff
        run: |
          git diff --quiet README.md || echo "::set-output name=new_change::true"

      - name: Commit files
        if: steps.verify_diff.outputs.new_change == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          echo "steps-condition-test" >> README.md
          git add README.md
          git commit -m "BOT: steps-condition-test"
          git push
      - run: echo "do something else"
