name: workflow-dispatch

on:
  workflow_dispatch:
    inputs:
      time_window:
        description: 'Job Time Range'
        required: true
        default: '--twoDayWindow'
      manual:
        description: 'Set this if you are running the job manually.'
        default: false

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - run: |
          echo "Job time range arg: ${{ github.event.inputs.time_window }}"
          echo "Job run manually?: ${{ github.event.inputs.manual }}"
